html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--gray1);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a:link,
a:visited {
    color: var(--primary);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--primary-dark);
    text-decoration: none;
}
